*{

}

body{
    background-color: deepskyblue;
}
.container-login{
    background-color: white;
    border-radius: 4px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}



.container-edit{
    background-color: white;
    border-radius: 4px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.container-edit h2{
    text-align: center;
    padding: 40px;
    border-bottom: 5px solid black;

}
.container-login h2 {
    text-align: center;
    padding: 40px;
    border-bottom: 5px solid black;
}

.container-home{
    width: 1200px ;
    margin: 0 auto ;
    background-color: white;
    margin-top: 67px;

}

.card img{
    width: 350px;
    height: 350px;
}